.header-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.header-container1 {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: 1px;
  justify-content: center;
  background-color: #000000;
}
.header-container2 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-link {
  color: white;
  font-size: 9px;
  font-family: TDHY;
  text-decoration: none;
}
.header-container3 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-image {
  height: 80%;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.header-container4 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.header-link1 {
  color: white;
  font-size: 9px;
  text-align: center;
  font-family: TDHY;
  text-decoration: none;
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}
.header-root-class-name2 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}
.header-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name4 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}

.footer-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.footer-footer {
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.footer-text {
  color: #ffffff;
  font-size: 9px;
  font-family: TDHY;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  color: #6bd6ff;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-link1 {
  color: #f14861;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-root-class-name {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name3 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name4 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .footer-text {
    text-align: left;
    line-height: 2;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.index-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(0deg, rgb(72, 21, 44) 2.00%,rgb(21, 25, 36) 34.00%,rgb(21, 25, 36) 100.00%);
}
.index-container1 {
  top: 0px;
  width: 100%;
  height: 1002px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.index-brick-left {
  width: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-size: contain;
  background-image: url("public/playground_assets/wall_v-1100h.png");
  background-repeat: repeat-y;
}
.index-body {
  width: 991px;
  height: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  margin-top: 80px;
  min-height: 759px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-start;
  background-color: #000000;
}
.index-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
}
.index-container3 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-image {
  width: 243px;
  height: 169px;
  margin: var(--dl-space-space-unit);
  align-self: flex-start;
  object-fit: cover;
}
.index-text {
  color: #5e5e5e;
  font-size: 7px;
  font-family: TDHY;
}
.index-text1 {
  color: #ffffff;
  width: var(--dl-size-size-xxlarge);
  font-size: 9px;
  text-align: center;
  font-family: TDHY;
  line-height: 3;
  margin-left: var(--dl-space-space-twounits);
}
.index-text3 {
  color: #51f4bb;
  font-size: 9px;
  text-align: center;
  font-family: TDHY;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-iframe {
  width: 561px;
  height: 374px;
  align-self: center;
}
.index-brick-right {
  width: 40px;
  height: 100%;
  display: flex;
  transform: scaleX(-1);
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url("public/playground_assets/wall_v-1100h.png");
  background-repeat: repeat-y;
}
@media(max-width: 991px) {
  .index-brick-left {
    display: none;
  }
  .index-brick-right {
    display: none;
  }
}
@media(max-width: 767px) {
  .index-body {
    min-width: 0px;
  }
}
@media(max-width: 479px) {
  .index-container2 {
    flex-direction: column;
  }
  .index-image {
    width: 250px;
    height: 172px;
  }
  .index-text {
    font-size: 10px;
  }
  .index-text1 {
    width: 100%;
    font-size: 12px;
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
  }
  .index-iframe {
    width: 100%;
    height: 244px;
  }
}
