.header-container {
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  position: fixed;
}
.header-container1 {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: 1px;
  justify-content: center;
  background-color: #000000;
}
.header-container2 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-link {
  color: white;
  font-size: 9px;
  font-family: TDHY;
  text-decoration: none;
}
.header-container3 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-image {
  height: 80%;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.header-container4 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.header-link1 {
  color: white;
  font-size: 9px;
  text-align: center;
  font-family: TDHY;
  text-decoration: none;
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}

.header-root-class-name2 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}
.header-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name4 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}

.footer-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.footer-footer {
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.footer-text {
  color: #ffffff;
  font-size: 9px;
  font-family: TDHY;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  color: #6bd6ff;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-link1 {
  color: #f14861;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-root-class-name {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name1 {
  flex: 1;
  left: 0px;
  bottom: 0px;
  position: 0px;
}
.footer-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name3 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name4 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .footer-text {
    text-align: left;
    line-height: 2;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-container {
    justify-content: flex-end;
  }
  .footer-container1 {
    right: 0px;
    bottom: 0px;
    margin: 0px;
    position: absolute;
  }
  .footer-footer {
    top: 10px;
    left: 0px;
    padding: var(--dl-space-space-halfunit);
    position: absolute;
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .footer-root-class-name {
    left: 0px;
    bottom: 300px;
    position: static;
  }
}

.placeholder-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-image: linear-gradient(0deg, rgb(30, 45, 98) 5.00%,rgb(21, 25, 36) 36.00%,rgb(21, 25, 36) 100.00%);
}
.placeholder-container1 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.placeholder-brick-left {
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url("public/playground_assets/wall_v-200w.png");
  background-repeat: repeat-y;
}
.placeholder-body {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 991px;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.placeholder-image {
  width: 141px;
  height: 141px;
  object-fit: cover;
}
.placeholder-container2 {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  position: relative;
  min-width: var(--dl-size-size-xxlarge);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.placeholder-text {
  left: 0px;
  color: #ffffff;
  bottom: 0px;
  margin: var(--dl-space-space-oneandhalfunits);
  font-size: 12px;
  text-align: center;
  font-family: TDHY;
  line-height: 2;
}
.placeholder-normal-text {
  margin-top: var(--dl-space-space-twounits);
}
.placeholder-text10 {
  color: #000000;
  font-size: 10px;
  text-align: center;
  font-family: TDHY;
  line-height: 2;
}
.placeholder-brick-right {
  width: 40px;
  height: 100%;
  display: flex;
  transform: scaleX(-1);
  align-items: center;
  flex-direction: column;
  background-size: contain;
  background-image: url("public/playground_assets/wall_v-200w.png");
  background-repeat: repeat-y;
}
@media(max-width: 991px) {
  .placeholder-brick-left {
    display: none;
  }
  .placeholder-container2 {
    position: relative;
  }
  .placeholder-brick-right {
    display: none;
  }
}
@media(max-width: 767px) {
  .placeholder-body {
    min-width: 0px;
  }
}
@media(max-width: 479px) {
  .placeholder-container2 {
    width: 60%;
    min-width: 300px;
  }
}
