* {
    margin: 0;
}

:root {
    --panel-width: 950px;
}

img {
    user-select: none;
}

a {
    user-select: none;
}

@font-face {
    font-family: 'tdhy';
    src: url('assets/tdhy.ttf');
}

body {
    font-family: 'tdhy', sans-serif;
    color: white;
    background-image: url('assets/bg.png');
    background-repeat: repeat;
}

.bg {
    position: absolute
}

.image-container {
    color: white;
    position: relative;
    left: 40px;
}

.showcase {
    width: 100%; 
    max-width: 600px; 
    margin: 20px auto;
    display: block;
    border-style: inset;
    border-width: 6px;
    box-sizing: border-box;
    border-color: #888888;
}

.content {
    width: 100%; 
    max-width: 600px; 
    margin-bottom: 30px; 
    margin-left: auto; 
    margin-right: auto;  
    display: block;
    text-align: center;
}

.container {
    border-image: url('assets/panel_ns.png');
    border-image-slice: 25 fill;
    border-image-width: 25px;
    position: relative;
    padding: 50px;
    font-size: 20px;
    box-sizing: border-box;
    min-height: 300px;
    margin-left: calc(50% - var(--panel-width) * 0.5);
    width: var(--panel-width);
    height: 100%;
}

.container img {
    width: 100%;
}

.blog-post {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #2C2D38;
    padding: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-post td {
    padding: 15px;
}

a:link {
    color: #84FFC3;
    text-decoration: none;
}

a:visited {
    color: #84FFC3;
}

a:hover {
    color: hotpink;
}

a:active {
    color: white;
} 