* {
    margin: 0;
}

:root {
    --panel-width: 950px;
}

img {
    user-select: none;
}

a {
    user-select: none;
}

@font-face {
    font-family: 'tdhy';
    src: url('assets/tdhy.ttf');
}

body {
    font-family: 'tdhy', sans-serif;
    color: white;
    background-image: url('assets/bg.png');
    background-repeat: repeat;
}

.bg {
    position: absolute
}

.image-container {
    color: white;
    position: relative;
    left: 40px;
}

.showcase {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
    border-style: inset;
    border-width: 5px;
    box-sizing: border-box;
    border-color: #666666;
}

.content {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.container {
    border-image: url('assets/panel_ns.png');
    border-image-slice: 25 fill;
    border-image-width: 25px;
    position: relative;
    padding: 50px;
    font-size: 20px;
    box-sizing: border-box;
    min-height: 300px;
    margin-left: calc(50% - var(--panel-width) * 0.5);
    width: var(--panel-width);
    height: 100%;
    top: 70px;
}

.container img {
    max-width: 100%;
}

.blog-post {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #2C2D38;
    padding: 30px;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.blog-post td {
    padding: 15px;
}

a:link, a:visited {
    color: #84FFC3;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

a:active {
    color: white;
}

.mobile-padding {
    padding: 0
}

@media (max-width:600px) {    
    .container {
        font-size: 18px;
        width: 100%;
        margin-left: 0;
        background: #22222E;
        border-image: none;
        border-image-slice: 25 fill;
        border-image-width: 0px;
        padding: 0;
        border-top: 25px solid #84FFC3;
        border-bottom: 25px solid #84FFC3;
    }
    
    .mobile-padding {
        padding: 20px;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .blog-post {
        width: 100%;
        margin-left: 0px;
        padding: 20px;
        font-size: 18px;
    }
}
