.header-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.header-container1 {
  width: 100%;
  height: 80px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  margin-bottom: 1px;
  justify-content: center;
  background-color: #000000;
}
.header-container2 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.header-link {
  color: white;
  font-size: 9px;
  font-family: TDHY;
  text-decoration: none;
}
.header-container3 {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.header-image {
  height: 80%;
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.header-container4 {
  flex: 0 0 auto;
  width: 200px;
  height: 100px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.header-link1 {
  color: white;
  font-size: 9px;
  text-align: center;
  font-family: TDHY;
  text-decoration: none;
}
.header-root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name1 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}
.header-root-class-name2 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}
.header-root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
.header-root-class-name4 {
  top: 0px;
  left: 0px;
  margin: auto;
  position: absolute;
}

.footer-container {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.footer-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.footer-footer {
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
.footer-text {
  color: #ffffff;
  font-size: 9px;
  font-family: TDHY;
}
.footer-socials {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link {
  color: #6bd6ff;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-link1 {
  color: #f14861;
  font-size: 9px;
  font-family: TDHY;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.footer-root-class-name {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name1 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name2 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name3 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
.footer-root-class-name4 {
  left: 0px;
  bottom: 0px;
  position: absolute;
}
@media(max-width: 991px) {
  .footer-text {
    text-align: left;
    line-height: 2;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-text {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.super-secret-rogbat-page-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #000000;
}
.super-secret-rogbat-page-container1 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.super-secret-rogbat-page-video {
  width: 0px;
  height: 0px;
}
.super-secret-rogbat-page-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
@media(max-width: 479px) {
  .super-secret-rogbat-page-image {
    width: 162px;
    height: 162px;
  }
}
