<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-container">
    <div class="footer-container1">
      <footer class="footer-footer">
        <span class="footer-text"><span>© 2022 MNSTR Shark</span></span>
        <div class="footer-socials">
          <a
            href="https://twitter.com/mnstrshark"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            <span>Twitter</span>
          </a>
          <a
            href="mailto:thedungeonhatesyou@gmail.com"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link1"
          >
            <span>Email</span>
          </a>
        </div>
      </footer>
    </div>
  </footer>
</div>
