<div>
  <link href="./header.css" rel="stylesheet" />
  <header class="header-container">
    <header class="header-container1">
      <div class="header-container2">
        <a href="https://mnstrshark.com" class="header-link">
          <span>Home</span>
        </a>
      </div>
      <div class="header-container3">
        <img
          alt="image"
          src="public/playground_assets/mnstrshark-logo-1500w.png"
          class="header-image"
        />
      </div>
      <div class="header-container4">
        <a href="https://mnstrshark.com/placeholder" class="header-link1">
          <span>???</span>
        </a>
      </div>
    </header>
  </header>
</div>
